<%# Nav-bar %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex justify-content-center">
   <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "https://plus.unsplash.com/premium_photo-1661914978519-52a11fe159a7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" %>
    <% end %>
  </div>
</div>

<%# Banner %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1485095329183-d0797cdc5676?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
  <div>
    <h1><strong>Your Lists</strong></h1>
  </div>
</div>

<%# Lists %>
<div class="container">
 <div class="d-flex align-items-center justify-content-between mb-3">
    <div></div>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-ghost" %>
  </div>
  <div class="cards">
    <% @lists.each do |list| %>
      <%= link_to list_path(list), class:"text-decoration-none" do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : asset_path('san_francisco.jpg') %>)">
        <h2><%= list.name %></h2>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
